// Navigation Styles here

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    nav {
        margin-right: 30px;

    }

    a {
        text-decoration: none;
        font-size: 1.8rem;
        padding: 8px;
        color: black;
    }
}